
{% extends "instaclone/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        {% for profile in profiles %}
          <div class="profile-content">
            <div class="image-top">
              <img class="rounded-circle article-img" src="{{ profile.image.url}}" alt="">
            </div>
            <div class="image-bottom">
              <div class="name">
                {{profile.user.username}}
                
              </div>
              <a href="{% url 'profile-detail-view' profile.pk %}">
                <button class="btn btn-primary">See profile</button>
              </a>
            </div>
          </div>
        
        {% endfor %}

      </div>
    </div>
  </div>  
    {% for post in posts %}
    
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url}}" alt="">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <div class="img-cont">
              <img src="{{ post.image.url }}" class="img-responsive" width="100%" height="500px" alt="">
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            <p><a href="{% url 'comment' post.id %}" ><i class="fa fa-comment"  aria-hidden="true"> Comment</i></a>
            <p><img src="" alt=""><i style="color: red;" class="fa fa-heart" aria-hidden="true"> Like</i></p>
            <div class="row">
             
            <div class="col">
              <div class="card-footer">
                <h4>Comments:<span>
                  {% if post.comments_set.all %}
                            <p class=""> {{post.comments_set.all|length}} comments </p>
                            {% else %}
                            <p class="">0 comments </p>
                            {% endif %}
                </span></h4>
                <div class="card-body ">
                      <!-- <p class=""> {{comments|length}} comments </p> -->
                      {% for comment in comments %}
                      {% if comment.post_id == post.id%}
                     
                      <h5><strong>{{comment.author}}</strong> {{comment.comment}}</h5>
                      <p>{{comment.created_on | timesince}}</p>
                      <hr>

                      {% endif %}
                      {% endfor %}
                  </div>
            </div>
            </div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}



